<!--
  ~ <<licensetext>>
  -->

<!--
  ~ <<licensetext>>
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag Quiz Game</title>
    <link rel="stylesheet" href="style.css">
        <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #question {
            font-size: 24px;
            margin-bottom: 20px;
        }
        #flag-image {
            max-width: 160px; /* Set a maximum width for the flag image */
            margin: 10px auto; /* Center the image horizontally */
        }
        #score {
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <script src="leave-confirm.js"></script>
    <% if (typeof req !== 'undefined') {%>
        <% if (typeof data !== 'undefined') { %>
            <%- include('info', { req: req, data: data }); %>
        <% } else { %>
            <%- include('info', { req: req}); %>
        <%  } %>
    <%}%>
    <div class="game-window" id="game1">
        <h1>Flag Quiz Game</h1>
        <div>
            <h2 id="timer">0:00</h2>
            <!-- <button onclick="startTimer()">Start</button>
            <button onclick="stopTimer()">Stop</button>
            <button onclick="resetTimer()">Reset</button> -->
            <script src="timer.js"></script>
        </div>

        <div id="question"></div>
        <img id="flag-image" src="flags/ua.png" alt="Flag">
        <div id="choices"></div>
        <p class="question-mark">?</p>
        <div id="score"></div>
        <div style="display: block; text-align: center; margin-left: auto; margin-right: auto;">
            <div id="skip" class="glassy-button skip" style="margin-bottom: 10px;" onclick="endGame()">Kihagyás</div>
            <div id="back"></div>
        </div>
        
        <script src="back-to-menu.js"></script>

        

        <script>
            let countries;
            fetch('flags/codes.json')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // Parse JSON response
                })
                .then(data => {
                    countries = data
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
            });
            const questions = [
                {
                    question: "Which country's flag is this?",
                    choices: ["United Kingdom", "Hungary", "Ukraine", "France"],
                    choiceValues: ["ua", "hu", "gb", "fr"],
                    correctAnswer: "fr"
                },
                {
                    question: "Which country's flag is this?",
                    choices: ["Ukraine", "Hungary", "United Kingdom", "France"],
                    choiceValues: ["ua", "hu", "gb", "fr"],
                    correctAnswer: "hu"
                },
                {
                    question: "Which country's flag is this?",
                    choices: ["Ukraine", "Hungary", "United Kingdom", "France"],
                    choiceValues: ["ua", "hu", "gb", "fr"],
                    correctAnswer: "ua"
                },
                {
                    question:"Which country's flag is this?",
                    choices: ["USA", "Canada", "Australia", "United Kingdom"],
                    choiceValues: ["us", "can", "au", "gb"],
                    correctAnswer: "gb"
                },
                {
                    question: "Which country's flag is this?",
                    choices: ["Japan", "China", "South Korea", "North Korea"],
                    choiceValues: ["jp", "ch", "sk", "nk"],
                    correctAnswer: "jp"
                },
                {
                    question: "Which country's flag is this?",
                    choices: ["Japan", "China", "South Korea", "North Korea"],
                    choiceValues: ["jp", "cn", "sk", "nk"],
                    correctAnswer: "cn"
                },
                {
                    question:"Which country's flag is this?",
                    choices: ["USA", "Canada", "Australia", "United Kingdom"],
                    choiceValues: ["us", "can", "au", "gb"],
                    correctAnswer: "gb"
                },
                {
                    question: "Which country's flag is this?",
                    choices: ["Japan", "China", "South Korea", "Sweden"],
                    choiceValues: ["jp", "ch", "sk", "se"],
                    correctAnswer: "se"
                },
                // Add more questions and answers here...
            ].sort(() => Math.random() - 0.5);

            let currentQuestionIndex = 0;
            let score = 0;
            
            const gameElement = document.getElementById("game1");
            const questionElement = document.getElementById("question");
            const flagImageElement = document.getElementById("flag-image");
            const choicesElement = document.getElementById("choices");
            const scoreElement = document.getElementById("score");



            function displayQuestion() {
                const currentQuestion = questions[currentQuestionIndex];
                questionElement.textContent = currentQuestion.question;

                // Update the flag image source based on the question
                flagImageElement.src = `flags/${currentQuestion.correctAnswer.toLowerCase()}.png`;

                const questionMarkIcon = document.querySelector('.question-mark');
                questionMarkIcon.addEventListener('click', () => {
                    // Automatically fill in the correct answer when the question mark is clicked
                    const correctAnswer = currentQuestion.correctAnswer;
                    const choiceElements = document.querySelectorAll('.choice');
                    choiceElements.forEach((choice, index) => {
                        
                        if(choice.attributes.value.value === currentQuestion.correctAnswer) {
                            console.log(choice, choice.attributes.value.value ,currentQuestion.correctAnswer);
                            choice.classList.add('correct');
                        } else {
                            choice.classList.remove('correct');
                        }
                    })
                });

                choicesElement.innerHTML = "";
                currentQuestion.choices.forEach((choice, index) => {
                    const choiceValue = currentQuestion.choiceValues[index];
                    const choiceElement = document.createElement("div");
                    choiceElement.classList.add("choice");
                    choiceElement.textContent = choice;
                    choiceElement.setAttribute('value', choiceValue)
                    choiceElement.addEventListener("click", () => checkAnswer(choiceValue));
                    choicesElement.appendChild(choiceElement);
                });
            }

            function checkAnswer(selectedAnswer) {
                console.log(selectedAnswer);
                const currentQuestion = questions[currentQuestionIndex];
                if (selectedAnswer === currentQuestion.correctAnswer) {
                    score++;
                }
                currentQuestionIndex++;
                if (currentQuestionIndex < questions.length) {
                    displayQuestion();
                } else {
                    endGame();
                }
            }

            function endGame() {
                const questionMarkIcon = document.querySelector('.question-mark');
                questionMarkIcon.style.display = 'none';
                questionElement.textContent = "Quiz completed!";
                flagImageElement.style.display = "none"; // Hide the flag image
                choicesElement.innerHTML = "";
                const serverMessage = `0`;
                stopTimer();
                const time = document.getElementById('timer').textContent;

                scoreElement.textContent = `Your score: ${score} out of ${questions.length} on try ${serverMessage}`;
                const buttonHolderElement = document.createElement("div")
                const buttonElement = document.createElement("a");
                buttonElement.href = "/games?CSRFToken=<%= req.token %>";
                buttonElement.classList.add("glassy-button", "game-button");
                buttonElement.textContent = "Back to game selector";
                buttonHolderElement.style.display = "inline-block";
                buttonHolderElement.style.position = "relative";
                buttonHolderElement.appendChild(buttonElement);
                gameElement.appendChild(buttonHolderElement);
                const skipButton = document.getElementById('skip');
                skipButton.style.display = 'none';

            }

            // Start the game by displaying the first question
            displayQuestion();
        </script>
    </div>
</body>
</html>
