<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discite</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div   class="blur"></div>
    <% if (typeof req !== 'undefined') {%>
        <%- include('info', { req: req }); %>
    <%}%>
    <!--<div class="logo-container">
        <div class="logo">Discite</div>
    </div>  -->
    <div class="login-container">
        <form class="login-form" action="/login-form">
            <input
                type="hidden"
                name="CSRFToken"
                value="<%= req.token %>"
            />
            <div id="welcome-text">Welcome!</div>
            <script>
                const welcomeMessages = [
                    "Bienvenido!",
                    "Willkommen!",
                    "Bienvenue!",
                    "Benvenuto!",
                    "ようこそ!",
                    "歡迎!",
                    "Välkommen!",
                    "Добро пожаловать!",
                    "환영합니다!",
                    "स्वागत हे!",
                    "Welcome!"
                ];

                const welcomeText = document.getElementById("welcome-text");
                let currentIndex = 0;

                function changeWelcomeMessage() {
                    welcomeText.classList.add("fade-out"); // Add the fade-out class
                    setTimeout(() => {
                        currentIndex = (currentIndex + 1) % welcomeMessages.length;
                        welcomeText.textContent = welcomeMessages[currentIndex];
                        welcomeText.classList.remove("fade-out"); // Remove the fade-out class
                    }, 1000); // Wait for the fade-out transition to complete
                }

                setInterval(changeWelcomeMessage, 6000);
            </script>
            <input type="text" placeholder="Username" name="username" id="username" required>
            <input type="password" placeholder="Password" name="password" id="password" required>
            <button type="submit" name="action" value="login" id="login-button">Login</button>
            <button type="submit" name="action" value="register" id="create-account">Register</button>
            <button name="action" value="try" id="try-out" onclick="setTryAccount()">Try Out</button>
        </form>
        
        <script>
            function setTryAccount() {
                document.getElementById('username').value = 'try_account';
                document.getElementById('password').value = 'try_account';
                document.getElementById('login-button').click();
            }
        </script>
    </div>

    <script src="script.js"></script>
</body>
</html>